{% extends "base.html.twig" %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
<main>
  <article>
    <header>
      <h1>Demande de réinitialisation du mot de passe</h1>
    </header>
    {# Formulaire de demande de réinitialisation du mot de passe #}
    <section>
      <p>Merci de bien vouloir saisir l'adresse email associée à votre compte : </p>
      {{form_start(formView)}}
      {{form_row(formView.email)}}
      <br>
    </section>
    <section>
      <button type="submit">Envoyer</button>
      {{form_end(formView)}}
    </section>
    <br>
    {# Lien vers la route du formulaire de login #}
    <section>
      <p><a href="{{path('app_login')}}">Retour vers la page de connexion</a></p>
    </section>
  </article>
</main>
{% endblock %}