{% extends 'base.html.twig' %}

{% block title %}Accueil du site vitrine{% endblock %}

{% block body %}
<main>
    <header>
        <h1>Page d'accueil du site vitrine</h1>
    </header>
    <article>
        <header></header>
        <section></section>
        <aside></aside>
    </article>
</main>
{% endblock %}
