{# Footer #}
<footer>
  <p>Bienvenue sur le site de l'organisation ! &copy;<script type "text/javascript">document.write(new Date().getFullYear());</script></p>
  <a href="{{path('app_home')}}">Accueil</a>
  <a href="{{path('app_contact')}}">Nous contacter</a>
</footer>