{# Header #}
<header>
  <nav>
    <section>
      <a href="{{path('app_home')}}">Accueil</a>
      <a href="#">A propos</a>
      <a href="#">Services</a>
      <a href="#">Actualités</a>
      <a href="#">Ressources</a>
      <a href="#">Contact</a>
    </section>
    <section>
      <ul>
          {# Affichage des liens en fonction du statut d'authentification de l'utilisateur #}
          {% if app.user %}
              <li><a href="{{path('app_logout')}}">Deconnection</a></li>
          {% endif %}
          {# Accès aux pages d'administration si l'utilisateur a le rôle Admin #}
          {% if is_granted('ROLE_ADMIN')%} 
              <li><a href="{{path('app_admin_home')}}">Accéder au back-office</a></li>
          {% endif %}
      </ul>
    </section>
  </nav>
</header>