<!-- Header -->
<header>
  <nav>
    <a href="#">Accueil</a>
    <a href="#">A propos</a>
    <a href="#">Services</a>
    <a href="#">Actualités</a>
    <a href="#">Ressources</a>
    <a href="#">Contact</a>
  </nav>
</header>