
/*****************************************************/
/***                     HEADER                    ***/
/*****************************************************/
.logo {
  /*height: 2.4rem;*/
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-main-tint);
  height: 9.6rem; /* Hauteur fixe du header pour la rendre collante (sticky) en haut de la page lors du défilement */
  padding: 0 4.8rem;
}

.section-logo {
  display: flex;
  align-items: center;
}

.site-title {
  font-weight: 500;
  font-size: 1.8rem;
}

/*****************************************************/
/***                    NAVIGATION                 ***/
/*****************************************************/
.main-nav {
  display: flex;
  gap: 3.2rem;
}

.main-nav-list,
.user-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.user-nav-link:link,
.main-nav-link:visited,
.user-nav-link:visited {
  display: inline-block;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.user-nav-link:hover,
.main-nav-link:active,
.user-nav-link:active {
  color: var(--color-main-darker);
}

/* Call To Action */
.user-nav-link.nav-cta:link,
.user-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: var(--color-white);
  background-color: var(--color-main);
}

.user-nav-link.nav-cta:hover,
.user-nav-link.nav-cta:active {
  background-color: var(--color-main-darker);
}


/*****************************************************/
/***                      HERO                     ***/
/*****************************************************/
.section-hero {
  background-color: var(--color-main-tint);
  padding: 9.6rem 0;
}

.hero-container {
  display: grid; /* Grille */
  max-width: 130rem; /* Conteneur de grille de largeur définie à 130rem et qui s'ajuste à l'écran pour une taille inférieure à 130rem */
  margin: 0 auto; /* Centrage horizontal du conteneur */
  padding: 0 3.2rem; 
  grid-template-columns: 1fr 1fr; /* Colonnes */
  gap: 9.6rem; /* Ecart entre les colonnes */
  align-items: center; /* Centrage vertical des éléments du conteneur */
}

.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

/*****************************************************/
/***                 HOME ARTICLES                 ***/
/*****************************************************/
.section-home-articles {
  padding: 9.6rem 0;
}

.article-text-box {
  position: relative;
}

.article-text-box::before {
  content: "";
  display: block;
  width: 25%;
  /*height: 25%*/
  padding-bottom: 25%; /* 25% of parent's width */
  background-color: var(--color-main-tint);
  position: absolute;
  top: -8rem;
  left: -8rem;
  border-radius: 50%;
  z-index: -1;
}
.article-text-box::after {
  content: "";
  display: block;
  width: 20%;
  /*height: 20%*/
  padding-bottom: 20%; /* 20% of parent's width */
  background-color: var(--color-white);
  position: absolute;
  top: -5rem;
  left: -5rem;
  border-radius: 50%;
  z-index: -1;
}

.article-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-img {
  width: 85%;
}

.article-introduction {
  font-size: 1.8rem;
  line-height: 1.2;
}


/*****************************************************/
/***                     FOOTER                    ***/
/*****************************************************/
.main-footer {
  width: 100%;
  margin-top: 5rem;
  padding: 2rem;
  background-color: var(--color-main-lighter);
}

.main-footer p {
  text-align: center;
  color: var(--color-grey-darker);
  font-weight: bold;
}

.main-footer a {
  display: block;
  text-align: center;
}
.admin-footer {
  width: 100%;
  margin-top: 5rem;
  padding: 2rem;
  background-color: var(--color-main-lighter);
}

.admin-footer p {
  text-align: center;
  color: var(--color-grey-darker);
  font-weight: bold;
}

.admin-footer a {
  display: block;
  text-align: center;
}



