
/*****************************************************/
/***                     HEADER                    ***/
/*****************************************************/
.logo {
  /*height: 2.4rem;*/
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-main-tint);
  height: 9.6rem; /* Hauteur fixe du header pour la rendre collante (sticky) en haut de la page lors du défilement */
  padding: 0 4.8rem;
}

.section-logo {
  display: flex;
  align-items: center;
}

.site-title {
  font-weight: 500;
  font-size: 1.8rem;
}

/*****************************************************/
/***                    NAVIGATION                 ***/
/*****************************************************/
.main-nav {
  display: flex;
  gap: 3.2rem;
}

.main-nav-list,
.user-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.nav-dropdown-list {
  list-style: none;
  display: flex;
  align-items: left;
  gap: 3.2rem;
}

.main-nav-link:link,
.user-nav-link:link,
.main-nav-link:visited,
.user-nav-link:visited {
  /*display: inline-block;*/
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.user-nav-link:hover,
.main-nav-link:active,
.user-nav-link:active {
  color: var(--color-main-darker);
}

.user-nav-link,
.user-nav-list {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.nav-icon {
  height: 2.4rem;
  width: 2.4rem;
}

/* Bouton de navigation de la dropdown - Call To Action */
.user-nav-link.nav-cta:link,
.user-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: var(--color-white);
  background-color: var(--color-main);
}

.user-nav-link.nav-cta:hover,
.user-nav-link.nav-cta:active {
  background-color: var(--color-main-darker);
}

.nav-dropdown-list {
  flex-direction: column;
  gap: 1.2rem;
}

/* Dropdown du menu utilisateur authentifié */
.dropdown-box {
  position: relative;
  display: inline-block;
}

/* Contenu de la dropdown - Caché par défaut */
.dropdown-content {
  display: none;
  position: absolute;
  top: 30px;
  right: 0px;
  cursor: pointer;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-main);
  border-radius: 9px;
  padding: 2.4rem;
}

/* Classe d'activation de la dropdown - Gestion avec Javascript */
.active-dropdown {
  display: block;
}

/*****************************************************/
/***                      HERO                     ***/
/*****************************************************/
.section-hero {
  background-color: var(--color-main-tint);
  padding: 9.6rem 0;
}

.hero-container {
  display: grid; /* Grille */
  max-width: 130rem; /* Conteneur de grille de largeur définie à 130rem et qui s'ajuste à l'écran pour une taille inférieure à 130rem */
  margin: 0 auto; /* Centrage horizontal du conteneur */
  padding: 0 3.2rem; 
  grid-template-columns: 1fr 1fr; /* Colonnes */
  gap: 9.6rem; /* Ecart entre les colonnes */
  align-items: center; /* Centrage vertical des éléments du conteneur */
}

.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

/*****************************************************/
/***                 HOME ARTICLES                 ***/
/*****************************************************/
.section-home-articles {
  padding: 9.6rem 0;
}

.article-text-box {
  position: relative;
}

.article-text-box::before {
  content: "";
  display: block;
  width: 25%;
  /*height: 25%*/
  padding-bottom: 25%; /* 25% of parent's width */
  background-color: var(--color-main-tint);
  position: absolute;
  top: -8rem;
  left: -8rem;
  border-radius: 50%;
  z-index: -1;
}
.article-text-box::after {
  content: "";
  display: block;
  width: 20%;
  /*height: 20%*/
  padding-bottom: 20%; /* 20% of parent's width */
  background-color: var(--color-white);
  position: absolute;
  top: -5rem;
  left: -5rem;
  border-radius: 50%;
  z-index: -1;
}

.article-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-img {
  width: 85%;
}

.article-introduction {
  font-size: 1.8rem;
  line-height: 1.2;
}

/*****************************************************/
/***                    PARTNERS                   ***/
/*****************************************************/
.section-partners {
  padding: 4.8rem 0 9.6rem 0;
}

.container-partners {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.partner-box {
  /*display: flex;
  justify-content: space-between;*/
}

.partner-item {
  text-align: center;
}

.partner-name {
  color: var(--color-grey);
  margin-bottom: 2.4rem;
  font-weight: 500;
}

.partner-short-description,
.partner-description {
  color: var(--color-grey);
  font-size: 1.6rem;
}

.partner-short-description {
  font-style: italic;
  margin-bottom: 1.6rem;
}

.partner-item img {
  height: 6.4rem; /* Hauteur identique pour tous les logos de partenaires */
  filter: grayscale(100%); /* Logos en nuances de gris */
  opacity: 85%;
  margin-bottom: 2.4rem;
}

.heading-partners {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 6.4rem;
  color: var(--color-main-darker);
}

/*****************************************************/
/***                  CONTACT FORM                 ***/
/*****************************************************/
/* CTA - Call To Action */
.section-contact-cta-form {
  padding: 9.6rem 0;
  background-color: var(--color-main-tint);
  /*background-image: linear-gradient(to bottom, var(--color-main-tint), var(--color-white)); /* Fond avec dégradé */
}

.contact-cta-container {
  display: grid;
  max-width: 130rem;
  margin: 0 auto; 
  grid-template-columns: 2fr 1fr;
  background-color: var(--color-main-tint);
  overflow: hidden;
  border-radius: 2.5rem;
}

.contact-cta-text-box {
  padding: 6.4rem;
  color: var(--color-main-text);
  background-color: var(--color-main-tint);
}

.contact-cta-text {
  font-size: 1.8rem;
  color: var(--color-main-text);
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

/* Image de fonds avec dégradé */
.contact-cta-img-box {
  /* background-image: linear-gradient(to bottom, var(--gradient-main-tint), var(--gradient-main-lighter)), url('../img/hubble_telescope.jpg'); */
  background-size: cover;
  background-position: center;
}

/* Mise en page du formulaire de contact */
.contact-cta-form {
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

/* Focus du formulaire de contact */
.contact-cta-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(179, 84, 82, 0.5);
}

/*****************************************************/
/***                     FOOTER                    ***/
/*****************************************************/

/* Main footer */
.main-footer {
  width: 100%;
  padding: 12.8rem 0;
  background-color: var(--color-main-lighter);
  border-top: 1px solid var(--color-main-tint);
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--color-main-text);
  margin-top: auto; /* Astuce : Le copyright est poussé vers le bas grâce au flexbox du logo-col */
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 4rem;
  color: var(--color-main-text);
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon,
.address-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.footer-address {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--color-main-text);
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-site-title {
  margin-bottom: 2.4rem;
}

.address-item {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--color-main-text);
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: var(--color-white);
}

.main-footer a {
  display: block;
}

/* Footer newsletter form */
.newsletter-form label {
  font-size: 1.6rem;
  font-weight: 400;
}

.newsletter-form input::placeholder{
  font-size: 1.6rem;
}

.newsletter-form button {
  font-size: 1.6rem;
}

/* Admin footer */
.admin-footer {
  width: 100%;
  padding: 4.8rem 0;
  background-color: var(--color-main-lighter);
}

.admin-footer p {
  text-align: center;
  color: var(--color-grey-darker);
  font-weight: 600;
}

.admin-footer a {
  display: block;
  text-align: center;
}

/*****************************************************/
/***              AUTHENTIFICATION FORM            ***/
/*****************************************************/
.section-authentification-form {
  padding: 9.6rem 0;
  background-color: var(--color-main-tint);
}

.authentification-container {
  display: grid;
  max-width: 130rem;
  margin: 0 auto; 
  grid-template-columns: 2fr 1fr;
  background-color: var(--color-main-tint);
  overflow: hidden;
  border-radius: 2.5rem;
}

.authentification-text-box {
  padding: 6.4rem;
  color: var(--color-main-text);
  background-color: var(--color-main-tint);
}

.authentification-text {
  font-size: 1.8rem;
  color: var(--color-main-text);
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

/* Image de fonds avec dégradé */
.authentification-img-box {
  background-image: linear-gradient(to bottom, var(--gradient-main-tint), var(--gradient-main-lighter)), url('../img/hubble_telescope.jpg');
  background-size: cover;
  background-position: center;
}

/* Mise en page du formulaire d'authentification */
.authentification-form {
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

/* Focus du formulaire d'authentification */
.authentification-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(179, 84, 82, 0.5);
}

.authentification-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.authentification-list {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1.2rem;
}

.authentification-list a:link,
.authentification-list a:visited {
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.authentification-list a:hover,
.authentification-list a:active {
  color: var(--color-main-darker);
}

/*****************************************************/
/***                     ADMIN                     ***/
/*****************************************************/
.admin-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 5fr;
  gap: 6.4rem; /* Ecart entre les colonnes */
  align-items: center;
}

.admin-nav {
  padding: 6.4rem;
  background-color: var(--color-grey-tint);
  /*min-height: 80rem;*/
  min-height: 100%;
}

.admin-content {
  padding: 6.4rem;
  min-height: 80rem;
}

.admin-img-box,
.admin-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom : 3rem;
}

.admin-edit-box {

}

.admin-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.admin-list {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.admin-list a:link,
.admin-list a:visited {
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.admin-list a:hover,
.admin-list a:active {
  color: var(--color-main-darker);
}

.edit-box-header {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.edit-box-header p {
  font-size: 2rem; 
  line-height: 1.2;
  font-weight: 600;
}

.edit-box {
  display:flex;
  flex-direction: column;
  gap: 1.5rem;
}

.edit-box-info {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.edit-box-item {
  font-weight: 600;
  color: var(--color-main-darker);
  margin-top: 1.5rem;
}

/*****************************************************/
/***                    ADMIN FORM                 ***/
/*****************************************************/

/* Mise en page du formulaire d'administration */
.admin-form {
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  background-color: var(--color-main-tint);
  padding: 6.4rem;
  border-radius: 1rem;
}

.admin-form figure {
  text-align: center;
}

.admin-form img {
  border-radius: 1rem;
}

/* Focus du formulaire d'administration */
.admin-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(179, 84, 82, 0.5);
}







