{# Affichage des messages flash #}
<section>
    {% for item, messages in app.flashes %}
        <div class="alert-{{item}}">
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        </div>
    {% endfor %}
</section>