{# Footer #}
<footer class="admin-footer">
  <p>Bienvenue <strong>{{app.user.firstname}}</strong> sur l'interface d'administration du site ! &copy;<script type "text/javascript">document.write(new Date().getFullYear());</script></p>
</footer>