<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Interface d'administration{% endblock %}</title>
        
        {# Affichage du favicon du site avec l'extension twig OrganizationExtension #}
        <link rel="icon" type="image/png" href="
            {% for organization_data in organization_datas.getOrganization %}
                {{asset('uploads/'~ organization_data.logo)}}
            {% endfor %}">
        
        {# Balise meta viewport #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {# Fontawesome #}
        <script src="https://kit.fontawesome.com/44950cf195.js" crossorigin="anonymous"></script>
        
        {# Lien vers les feuilles de style CSS #}
        <link rel="stylesheet" href="{{asset('/css/general.css')}}">
        <link rel="stylesheet" href="{{asset('/css/style.css')}}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {# Inclusion du header de la section admin #}
        {% include "admin/partials/_header.html.twig" %}

        {# Affichage du body #}
        {% block body %}{% endblock %}

        {# Inclusion de la modale de suppression #} 
        {% include "admin/partials/_modal.html.twig" %}

        {# Affichage des messages flash #}
        {% include "admin/partials/_flashbag.html.twig" %}
        
        {# Inclusion du footer #}
        {% include "admin/partials/_footer.html.twig" %}
        
        {# Lien vers les scripts javascript #}
        {% block javascripts %}
            <script src="{{asset('js/modal.js')}}"></script>
        {% endblock %}
    </body>
</html>
