{% extends 'admin/base.html.twig' %}

{% block title %}Interface d'administration{% endblock %}

{% block body %}
<main class="container">
    <section class="section-admin">
        <section class="admin-container">
            <nav class="admin-nav">
                {# Inclusion du aside #}
                {% include "admin/partials/_aside.html.twig" %}
            </nav>
            <div class="admin-content">
                <div class="admin-text-box">
                    <h1 class="heading-primary">Interface d'administration</h1>
                </div>
                <div class="admin-img-box">
                    <img src="{{asset("img/admin.png")}}" alt="logo engrenage d'administration" class="lg-img">
                </div>
            </div>
        </section>
    </section>
</main>
{% endblock %}
