{% extends 'admin/base.html.twig' %}

{% block title %}Interface d'administration{% endblock %}

{% block body %}
<main>
    <header>
        <h1>Interface d'administration</h1>
    </header>
    <article>
        <header></header>
        {# Inclusion du aside #}
        {% include "admin/partials/_aside.html.twig" %}
        <section></section>
    </article>
</main>
{% endblock %}
