<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Site de l'organisation{% endblock %}</title>
        {% block metadescription %}
            <meta name="description" content="Description du site de l'organisation">
        {% endblock %}
        
        {# Affichage du favicon du site avec l'extension twig OrganizationExtension #}
        <link rel="icon" type="image/png" href="
            {% for organization in organization.getOrganization %}
                {{asset('uploads/'~ organization.logo)}}
            {% endfor %}">

        {# Balise meta viewport #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {# Fontawesome #}
        <script src="https://kit.fontawesome.com/44950cf195.js" crossorigin="anonymous"></script>
        
        {# Lien vers la feuille de style CSS #}
        <link rel="stylesheet" href="{{asset('/css/style.css')}}">
        {% block stylesheets %}{% endblock %}
    </head>
    
    <body>
        {# Inclusion du header #}
        {% include "partials/_header.html.twig" %}
        
        {# Affichage du body #}
        {% block body %}{% endblock %}
        
        {# Affichage des messages flash #}
        {% include "partials/_flashbag.html.twig" %}
        
        {# Inclusion du footer #}
        {% include "partials/_footer.html.twig" %}
        
        {# Lien vers les scripts javascript #}
        {% block javascripts %}{% endblock %}
    </body>
</html>
