<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Demande de réinitialisation du mot de passe</title>
</head>
<body>
  <main>
    <article>
      <header>
        <h1>Réinitialisation de votre mot de passe</h1>
      </header>
      <section>
        <p>Bonjour <strong>{{user.firstname}} {{user.lastname|upper}}</strong>. Vous avez effectué une demande de réinitialisation de votre mot de passe pour accéder à votre compte d'administration. Veuillez cliquer sur le lien ci-dessous :</p>
        <p><a href="{{absolute_url(path('app_reset_password', {'resetToken': resetToken}))}}">Réinitialiser mon mot de passe</a></p>
      </section>
    </article>
  </main>
</body>
</html>