<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Demande de modification de votre email</title>
</head>
<body>
  <main>
    <article>
      <header>
        <h1>Vérification de votre nouvelle adresse email</h1>
      </header>
      <section>
        <p>Bonjour <strong>{{user.firstname}} {{user.lastname|upper}}</strong>. Vous avez effectué une demande de modification de l'adresse email associée à votre compte. Veuillez cliquer sur le lien ci-dessous pour finaliser votre demande :</p>
        <p><a href="{{absolute_url(path('app_account_reset_email', {'resetToken': resetToken}))}}">Vérifier ma nouvelle adresse email</a></p>
      </section>
    </article>
  </main>
</body>
</html>